<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Évolution</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/modcod.ico' %}">
    <link rel="stylesheet" href="{% static "css/data/evolution.css" %}">
</head>
<body>
    <button class="navbar-toggle" id="navbarToggle">
        ☰
    </button>

    <div class="navbar-overlay" id="navbarOverlay"></div>

    <nav class="navbar" id="navbar">
        <div class="navbar-header">
            <a href="{% url "homepage" %}" class="navbar-brand"><img src="{% static "image/Modcod.png" %}" alt="logo of company" style="width:180px"></a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url "evolution2_Page" %}" class="nav-link">⚖️ Comparatif d'évolution des projets soumis</a>
            </li>
            <li class="nav-item">
                <a href="{% url "evolutionPS_page" %}" class="nav-link active">📈 Évolutions des Projets Soumis</a>
            </li>
            <li class="nav-item">
                <a href="{% url "evolitionPEC_page" %}" class="nav-link">📉 Évolutions des Projets Non Soumis </a>
            </li>
            <li class="nav-item">
                <a href="{% url "evolitionPAS_page" %}" class="nav-link">📉 Évolutions des Projets En Attente De Soumissions </a>
            </li>
            {% if request.user.role != "Utilisateur_Temporaire" and request.user.role != "Stagiaire" and request.user.role != "Utilisateur_Confirmé" %}
            <li class="nav-item">
                <a href="{% url "dashboardpage" %}" class="nav-link">📊 Dashboard</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url "homepage" %}" class="nav-link">🏠 Accueil</a>
            </li>
        </ul>
    </nav>

    <main class="main-content" id="mainContent">
        {% include "./PS.html" %}
    </main>
    <script src="{% static "js/data/evolution.js" %}"></script>
</body>
</html>