<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/modcod.ico' %}">
</head>
<body>
    <div id="alert-container" style="position: fixed; top: 10px; left: 20px; z-index: 9999;">
        {% include "../layouts/erreur.html" %}
    </div>
    <div class="container">
        <div class="left">
            <img src="{% static "image/Modcod.png" %}" alt="logo of company">
        </div>
        <div class="right">
            <form action="{% url "login_action" %}" method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <div>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div style="position:relative";>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <i class="fa-solid fa-eye-slash toggle-password"></i>
                </div>
                <div class="btn">
                    <button type="submit">Connexion</button>
                </div>
                <div class="other">
                    <p>Vous n'avez pas de compte?<a href="{% url "register_page" %}"> S'inscrire</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static "js/auth/index.js" %}"></script>
    <script src="https://kit.fontawesome.com/1153728611.js" crossorigin="anonymous"></script>
</body>
</html>